$bg: #fcb068;

body {
  margin: 0;
  background-color: $bg;
}

/* To solve the problem where html area resizes, but the Phaser Canvas does not.
   https://github.com/photonstorm/phaser/issues/4362 */
#canvas-parent {
  margin: 0px;
  padding: 0px;
  height: 100%; /*100vh*/
  width: 100%; /*100vw*/
}
